/* offsets */
$grid-xxxs: 4px;
$grid-xxs: 8px;
$grid-xs: 12px;
$grid-sm: 16px;
$grid-base: 20px;
$grid-lg: 24px;
$grid-xl: 32px;
$grid-xxl: 40px;

/* font size */
$font-size-xs: 11px;
$font-size-sm: 12px;
$font-size-base: 13px;
$font-size-lg: 14px;
$font-size-xl: 16px;
$font-size-xxl: 20px;
$font-size-xxxl: 24px;

$border-radius-base: 5px;
$box-shadow-base: 0 2px 8px var(--color-box-shadow-base)
