@import '../../../../styles/abstract';

.button-group {
  display: flex;

  .btn {
    flex: 1;
    border-radius: 0;
    padding-left: $grid-xxs;
    padding-right: $grid-xxs;

    &:focus {
      z-index: 1;
    }

    &:first-child {
      border-radius: $border-radius-base 0 0 $border-radius-base;
    }

    &:last-child {
      border-radius: 0 $border-radius-base $border-radius-base 0;
    }
  }
}
