@import '../../../../styles/abstract/mixins';
@import '../../../../styles/abstract/variables';

$filters-section-item-padding: $grid-base/2 $grid-base;

.filters-section {
  @include panel;
  padding: $grid-base/2 0 $grid-base/2;

  .checkbox {
    padding: $filters-section-item-padding;
    transition: background-color .1s;

    &:hover {
      background: var(--color-option-hover-bg);
    }

    &:active {
      background: var(--color-option-active-bg);
    }
  }
}

.filters-section__title {
  @include button-text;
  @include word-break;
  line-height: 1;
  padding: $filters-section-item-padding;
}
