@import '../../styles/abstract/mixins';

@keyframes earth-spin {
  from {
    transform: translate3d(0, 0, 0) rotate(0)
  }

  to {
    transform: translate3d(0, 0, 0) rotate(360deg)
  }
}

.plane-logo {
  @include make-ratio;

  width: 60px;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 8px 11px rgba(55, 104, 142, 0.25);
  background: var(--color-primary);
}

.plane-logo__plane-wrap {
  width: 50px;
  height: 51px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0)
}

.plane-logo__earth {
  background: url('../../assets/icons/earth.svg');
  @include overlay;
}

.plane-logo__plane {
  background: url('../../assets/icons/plane.svg') no-repeat 0 0;
  @include overlay;
}
